@charset "UTF-8";

*{ /*Configuraçoes globais*/
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
}

body{
    background-image: linear-gradient(to right,#E39F52,#f3cfa6 );
}

main{
    background-color: #ffff;
    border-radius: 10px; /*Arredonda as pontas*/
    box-shadow: 5px 5px 15px #504335b2; /*Sombra*/
    width: 500px; /*Largura*/
    padding: 10px; 
    margin: auto; /*centralizar conteudo*/
    
}

h1{
    color:#66441C ;
    text-align: center;
    text-shadow: 1px 1px 2px #412b12c4;
}

h2{
    color: #995447;
}

p{
    text-align: justify;
}